In [2]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
import scipy.stats

In [3]:
data = "C:/Users/Magus/Desktop/cartobcn/Excels/barris_data_final.xlsx"
df = pd.read_excel(data)

In [4]:
test = df.sort_values(['Household_income_dis (Barcelona = 100)'], ascending=[0])

In [32]:
cpi_cat = r"C:/Users/Magus/Documents/Projects/Citython2018/CATCPI.csv"
cpi_esp = r"C:/Users/Magus/Documents/Projects/Citython2018/ESPCPI.csv"
incomes = r"C:/Users/Magus/Documents/Projects/Citython2018/income.csv"
mpatients = r"C:/Users/Magus/Documents/Projects/Citython2018/mentalpatients.csv"
mbeds = r"C:/Users/Magus/Documents/Projects/Citython2018/mentalbeds.csv"


catcpi = pd.read_csv(cpi_cat, delimiter=";", error_bad_lines=False, encoding = "ISO-8859-1" )
espcpi = pd.read_csv(cpi_esp, delimiter=";", error_bad_lines=False, encoding = "ISO-8859-1" )
income = pd.read_csv(incomes, delimiter=";", error_bad_lines=False, encoding = "ISO-8859-1" )
mbed = pd.read_csv(mbeds, delimiter=";", error_bad_lines=False, encoding = "ISO-8859-1" )

In [33]:
income

    ÿþY
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  NaN
15  NaN
16  NaN
17  NaN