In [2]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
import scipy.stats

In [3]:
data = "C:/Users/Magus/Desktop/cartobcn/Excels/barris_data_final.xlsx"
df = pd.read_excel(data)

In [4]:
test = df.sort_values(['Household_income_dis (Barcelona = 100)'], ascending=[0])

In [44]:
#CPI Catalunia
cpi_cat = r"C:/Users/Magus/Documents/Projects/Citython2018/CATCPI.csv"
#CPI Spain
cpi_esp = r"C:/Users/Magus/Documents/Projects/Citython2018/ESPCPI.csv"
#Income Levels 
incomes = r"C:/Users/Magus/Documents/Projects/Citython2018/income.csv"
#Mental Health Patients CatStat
mpatients = r"C:/Users/Magus/Documents/Projects/Citython2018/mentalpatients.csv"
#Mental Health Beds by CatStat
mbeds = r"C:/Users/Magus/Documents/Projects/Citython2018/mentalbeds.csv"
#People per Doctors by CatStat
ptod = r"C:/Users/Magus/Documents/Projects/Citython2018/patientstodoctor.csv"
#Population Growth by CatStat
pgro = r"C:/Users/Magus/Documents/Projects/Citython2018/pgrowth.csv"

catcpi = pd.read_csv(cpi_cat, delimiter=";", error_bad_lines=False, encoding = "ISO-8859-1" )
espcpi = pd.read_csv(cpi_esp, delimiter=";", error_bad_lines=False, encoding = "ISO-8859-1" )
income = pd.read_csv(incomes, delimiter=";", error_bad_lines=False, encoding = "ISO-8859-1" )
mbed = pd.read_csv(mbeds, delimiter=";", error_bad_lines=False, encoding = "ISO-8859-1" )
mpatient = pd.read_csv(mpatients, delimiter=";", error_bad_lines=False, encoding = "ISO-8859-1" )
pperd = pd.read_csv(ptod, delimiter=";", error_bad_lines=False, encoding = "ISO-8859-1" )
pgrowth = pd.read_csv(pgro, delimiter=";", error_bad_lines=False, encoding = "ISO-8859-1" )

,Population growth,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Catalonia.,NaN,NaN,NaN
1,Number,NaN,NaN,NaN
2,"Source: Idescat. Population estimates, Births ...",NaN,NaN,NaN
3,Institut d'EstadÃ­stica de Catalunya,NaN,NaN,NaN
4,https://www.idescat.cat/indicadors/?id=anuals&...,NaN,NaN,NaN
5,NaN,Total growth,Natural population change,Migratory growth
6,2016,47944,5685,42259
7,2015,23578,5584,17994
8,2014,-9140,10270,-19410
9,2013,-45074,10784,-55858
10,2012,-36430,14461,-50891
11,2011,13545,21275,-7730
12,2010,39809,24946,14863
13,2009,45439,25205,20234
14,2008,118292,29539,88753
15,2007,151579,24364,127215
16,2006,151797,24821,126976
17,2005,148245,18418,129827
18,2004,153395,19591,133804
19,2003,134557,12904,121653
20,2002,160574,11037,149537
21,2001,144861,8930,135931
22,2000,78758,8147,70611
23,Population growth,NaN,NaN,NaN
24,Spain.,NaN,NaN,NaN
25,Number,NaN,NaN,NaN
26,"Source: INE. Population figures, Births Statis...",NaN,NaN,NaN
27,Institut d'EstadÃ­stica de Catalunya,NaN,NaN,NaN
28,https://www.idescat.cat/indicadors/?id=anuals&...,NaN,NaN,NaN
29,NaN,Total growth,Natural population change,Migratory growth
30,2016,87925,-28,87953
31,2015,-3737,-2278,-1459
32,2014,-62634,31765,-94399
33,2013,-215691,35296,-250987
34,2012,-90326,51698,-142024
35,2011,151041,84088,66953
36,2010,180554,104528,76026
37,2009,247350,110064,137286
38,2008,570332,133455,436877
39,2007,884279,107166,777113
40,2006,774690,111479,663211
41,2005,713634,79016,634618
42,2004,748881,82657,666224
43,2003,719619,57053,662566
44,2002,792565,50228,742337
45,2001,369726,46249,323477
46,2000,195363,37241,158122